<!DOCTYPE html>

<html lang ="en">
<head> 
	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width = device-wdith, initial-scale = 1.0">
	<link href = "/style.css" rel = "stylesheet">
</head>

<body>
	<header id = "header">
		<nav>
			<div class = "container">
				<div class = "text-center">
					<a> Shopify Crud App</a>
				</div>
			</div>
		</nav>
	</header>
<!-- Table -->
	<main id = "mainTable">
    		<div class = "container">
	    		<div class = "box-nav">
				<a href = "/" class ="far left">Return</a>
			</div>
			<div class = "text-center">
				<h2> New Product</h2>
				<span> Use below form to add a new product</span>
			</div>
			
			<form method ="POST" id = "addProduct"> 
				<table>
					<tr>
						<td align = "left"> Product Name: </td>
						<td><input type = "text" name = "productName" maxlength = "50" value = ""> </td>
					</tr>
					<tr>
						<td align = "left"> Quantity: </td>
						<td> <input type = "number" name = "quantity" min = "1" max = "2147483647" value = 1 onkeydown = "return eventkeyCode !== 69"></td>
						
					</tr>
					<tr>
						<td align = "left"><button type = "submit" name = "save">Save</button> </td>
					</tr>
				</table>
			</form> 
		</div>\
	</main>
</body>

</html>
