<!DOCTYPE html>

<html lang ="en">
<head> 
	<meta charset = "UTF-8">
	<meta name = "viewport" content = "width = device-wdith, initial-scale = 1.0">
	<link href = "/style.css" rel = "stylesheet">
</head>

<body>
	<header id = "header">
		<nav>
			<div class = "container">
				<div class = "text-center">
					<a> Shopify Crud App</a>
				</div>
			</div>
		</nav>
	</header>
<!-- Table -->
	<main id = "mainTable">
    		<div class = "container">
	    		<div class = "box-nav d-flex justify-between">
				<a href = "/" class ="far left">Return</a>
			</div>
			<div class = "text-center">
				<h2> New Product</h2>
				<span> Use below form to insert a new product</span>
			</div>
			
			<form method ="POST" id = "updateProduct">
				<div class "newProduct"> 
				<div class "formGroup">
					<label = "Product Name">Product Name</label>
					<input type = "text" name = "productName" value = "">
				</div>
				<div class "formGroup">
					<label = "Quantity">Quantity</label>
					<input type = "number" name = "quantity">
				</div>
				<div class "formGroup">
					<button type = "save" class = "btn">Save</button>
			</form>
		</div>
	</main>
</body>

</html>
